{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
    <div class="app-import_data module">
        <h1>Review Imported Data</h1>
        <form method="POST">
            {% csrf_token %}
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Creation Date</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zipcode</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <td><input type="checkbox" name="import_record" value="{{ forloop.counter0 }}"></td>  {#  #}
                        <td>{{ record.0 }}</td>
                        <td>{{ record.1 }}</td>
                        <td>{{ record.2 }}</td>
                        <td>{{ record.3 }}</td>
                        <td>{{ record.4 }}</td>
                        <td>{{ record.5 }}</td>
                        <td>{{ record.6 }}</td>
                        <td>{{ record.7 }}</td>
                        <td>{{ record.8 }}</td>
                        <td>{{ record.9 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Import Selected Records">
        </form>
    </div>
    {{ block.super }}
{% endblock %}
