{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

    <div id="content-main">
        <form id="person_search_form" action="" method="get">
            {% csrf_token %}
            {{ search_form}}
            <button type="submit">Submit</button>
        </form>
    </div>
    {{ block.super }}
{% endblock %}